#include "Base.xcconfig"
#include? "Local.xcconfig"

KWABOR_ENVIRONMENT = development
KWABOR_APP_DISPLAY_NAME = Kwabor Dev
KWABOR_SHARED_BUILD_TYPE = debug
KWABOR_APS_ENVIRONMENT = development
KWABOR_SUPABASE_URL = $(KWABOR_SUPABASE_URL_DEVELOPMENT)
KWABOR_SUPABASE_PUBLISHABLE_KEY = $(KWABOR_SUPABASE_PUBLISHABLE_KEY_DEVELOPMENT)
