#include "Base.xcconfig"
#include? "Local.xcconfig"

KWABOR_ENVIRONMENT = production
KWABOR_APP_DISPLAY_NAME = Kwabor
KWABOR_SHARED_BUILD_TYPE = release
KWABOR_APS_ENVIRONMENT = production
KWABOR_SUPABASE_URL = $(KWABOR_SUPABASE_URL_PRODUCTION)
KWABOR_SUPABASE_PUBLISHABLE_KEY = $(KWABOR_SUPABASE_PUBLISHABLE_KEY_PRODUCTION)
